<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>

    <div class="container">
        <h1>Budgtr All</h1>
        <a class="button" href="/budgets/new">New Item</a>

        <% for(let i = 0; i < allBudgets.length; i++) { %> 

        <table class="u-full-width">
            <tbody>
              <tr>
                <td><%=allBudgets[i].date %></td>
                <td><a href="/budgets/<%=i %> "><%=allBudgets[i].name %></a></td>
                <td><%=allBudgets[i].amount%></td>
              </tr>
            </tbody>
          </table>

        <% } %> 
    </div>


  </body>
</html>
